.footerBackground {
    background-color: #111e14;
    max-width: 100%;
    color: white;
    font-family: 'Roboto';
    padding: 100px 115px 25px 120px;
}

.footerTopContainer {
    display: flex;
    justify-content: space-around;
    margin: 0px 30px;
    margin-right: 0px;
}
.ulContent {
    list-style-type: none;
}
.liHeading {
    margin-bottom: 10px;
    font-size: 18px;
}
.footerLink {
    color: white;
    text-decoration: none;
}
.feedBackLi {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.liContent {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    font-size: 24px;
}
.footerLinkLi {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    text-decoration: none;
}
.footerLinkLi:hover {
    text-decoration: underline;
}
.footerBottomText {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    font-size: 14px;
    padding-left: 25px;
}
.footerBottomContainer {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerBottomGrid1 {
    display: flex;
    align-items: center;
}
.footerBottomGrid2 {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.footerLog {
    width: 165px;
    height: 47px;
}
.footer-store-img {
    max-width: 200px;
}
.footer-logo-container {
    display: flex !important;
    flex-direction: column;
    align-items: flex-end;
}

/* media */
/*  */
/*  */
/* @media screen and (min-width: 1440px) {
} */

/* //TODO: lg down */
@media screen and (max-width: 1439px) {
    .footerBackground {
        padding: 80px 48px 25px 40px;
    }
}

/* //TODO: md UP */
@media screen and (min-width: 1024px) {
    .footerBottomContainer {
        align-items: center !important;
    }
}
/* //TODO: md down */

@media screen and (max-width: 1023px) {
    .footerBackground {
        padding: 73px 95px 73px 35px;
    }
    .footerTopContainer {
        justify-content: flex-start;
        max-width: 100vw;
    }
    .footer-logo-container {
        align-items: start;
    }
}
/* //TODO: sm down */
@media screen and (max-width: 767px) {
    .footerBackground {
        padding: 40px 25px;
    }
    .footerBottomText {
        padding: 0;
        margin: 14px 0px;
        text-align: center;
        max-width: 100vw;
    }
    .footerBottomContainer {
        flex-direction: column-reverse;
    }
    .footerBottomGrid1 {
        padding-top: 36px;
        display: block;
    }
    .footerBottomGrid2 {
        margin-left: 0;
        max-width: 100vw;
        padding: 0px;
        display: flex;
        align-items: center;
    }
    .footer-grid-item:last-child {
        order: -1;
    }
    .ulContent {
        padding-top: 25px;
    }
    .footerTopContainer {
        margin: 0px 10px;
    }

    .footer-store-img {
        max-width: 156px;
        height: 45px;
    }
    .footer-store-img-container-sm {
        display: flex !important;
        justify-content: start;
    }
}
@media screen and (max-width: 359px) {
    .footerBackground {
        padding: 30px 24px;
    }
}
